*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
}


.qator4{
    background-color: rgb(8, 151, 103);
 width: 1440px;
height: 669px;
top: 1447px;
left: 1px;
gap: 0px;
opacity: 0px;
background-image: url(./cta\ \(1\).png);









}



















